<div>

  <img *ngIf="loading" alt="loading" src="../../../assets/spinner.gif"/>
  <h4 *ngIf="!loading" class="container  ">List of attendee </h4>
  <table class="table" *ngFor="let attendee of attendees">
    <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Date</th>
      <th>Present Location</th>
      <th>talk</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{attendee.name}}</td>
      <td>{{attendee.gender}}</td>
      <td>
        {{attendee.date |date }}
      </td>
      <td>{{attendee.present_location}}</td>
      <td>{{attendee.talk.title}}</td>
      <td>
        <button class="btn btn-danger" (click)="onDelete(attendee._id)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>





